@charset "UTF-8";

	.cheerUpWrap{
		height: 73px;
		padding: 0px 10px 0px 10px;
		background: #b4c4ff;
	    border-radius: 21px;
	    margin-bottom: 15px;
	}
	.cheerUpTitle{
		float: left;
	}
  	.cheerUpText{
  		margin: 17px;
	    font-size: 1.6em;
	    padding: 0px 42px 0px 185px;
  	}
  	input[name=cheerUpText]{
  		width: 83%;
  		margin-right: 15px;
  	}
  	.dateViewer{
  		height: 100px;
  		margin-left: 1.6%;
  		border: 1px solid;
  		margin-top: -1px;
  	}

  
  	
  <!----------------------------->	
  	
  	
  	.cheerList {
	width: 500px;
	height: 40px;
	overflow: hidden;
	border: 1px solid #DDD;
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #DDD;
}

#cheerList {
	height: 100px;
	
}

.cheerList li {
	height: 50px;
	border-bottom: 1px solid #DDD;
	
}
  	
.photo{
	width: 50px;
	height: 50px;
	float: left;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.studentInfo{
	float: left;
    padding-top: 18px;
    padding-left: 12px;
}
.boundary{
	float: left;
	margin-left: 20px;
	font-size: 2.4em;
}
.sp2{
	margin-right: 20px;
	font-size: 3em;
}
.cheerText{
	float: left;
    margin-top: 17px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    width: 375px;
    padding-top: 2px;
}
.cheerdate{
	float: right;
    margin-top: 18px;
    margin-left: 20px;
}
.dateWrap{
	float: right;
}